.contacts {
  background-color: $gold;
  padding: 6px 0;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
  }

  font-weight: 600;
  font-size: 13px;
  line-height: 18px;

  a {
    color: black;

    &:hover {
      opacity: 0.8;
    }
  }
}

.contacts__main,
.contacts__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  > * {
    margin-right: 20px;
  }

  @media (min-width: $xl) {
    width: auto;
  }
}

.contacts__city {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  font-weight: inherit;
}

.contacts__workschedule,
.contacts__contact {
  display: none;

  @media (min-width: $xl) {
    display: flex;
  }
}

.contacts__contact {
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__tel {
  margin-right: 0;

  @media (min-width: $md) {
    margin-right: 20px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item {
  padding-right: 20px;

  &:last-child {
    padding-right: 0;
  }
}
