.header {
  background-color: $white;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.16);
  margin: 12px auto 70px;


  @media (min-width: $md) {
    max-width: $md;
  }

  @media (min-width: $xl) {
    max-width: 1440px;
  }
}

