.nav {
  padding: 12px 0;
  border-bottom: 1px solid rgba(189, 189, 189, 0.35);

  @media (min-width: $md) {
    padding: 22px 0;
  }

  & .container {
    position: relative;
  }
}

.nav__options {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;

  @media (min-width: $md) {
    justify-content: space-between;
    padding-bottom: 13px;

    > *:not(:last-child) {
      margin-right: 32px;
    }
  }
}

.nav__user-menu {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;

  > *:not(:last-child) {
    margin-right: 12px;
  }

  @media (min-width: $xl) {
    justify-content: space-between;
  }

}

.nav__logo {
  justify-self: flex-start;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.nav__logo-image {
  width: 50px;
  height: 57px;
  margin-right: 16px;

  @media (min-width: $md) {
    width: 64px;
    height: 73px;

  }
}

.nav__title {
  display: none;

  width: 133px;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: black;

  @media (min-width: $md) {
    display: block;
  }
}

.nav__title-marked {
  color: #F60007;
}

.nav__rating {
  display: none;
  width: 105px;
  height: 60px;
  box-sizing: border-box;
  padding: 5px 12px;

  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
  border-radius: 8px;

  @media (min-width: $md) {
    display: block;
  }
}

.nav__search {
  position: relative;
  display: none;

  @media (min-width: $xl) {
    display: block;
  }
}

.nav__search-button {
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  width: 50px;
  box-sizing: border-box;
  height: 30px;
  border-radius: 4px;


  background-color: white;
  border: 2px solid $button-red;
  box-sizing: border-box;

  color: $button-red;
  font-weight: 600;
  font-size: 11px;
  line-height: 18px;

  & .button-label {
    display: inline;
  }

  @media (min-width: $xl) {
    width: 75px;
    height: 36px;
    right: 4px;
    top: 4px;
    font-size: 13px;
  }
}

.nav__search-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  margin-top: 10px;

  &::placeholder {
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    color: #9E9E9E;
  }

  @media (min-width: $xl) {
    width: 521px;
    height: 44px;
    padding: 13px 16px;
    margin-top: 0;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 4px;

    &::placeholder {
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #9E9E9E;
    }
  }

}

.nav__login-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid $button-red;
  width: 35px;
  height: 35px;

  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: $text-black;

  svg {
    margin-right: 8px;
  }

  &:hover {
    opacity: 0.7;
    color: $button-red;
  }

  @media (min-width: $md) {
    justify-content: space-between;
    border: none;
  }

  @media (min-width: $xl) {
    width: auto;
  }
}

.nav__cart-button {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background-color: $button-red;
  border-radius: 50%;

  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;

  &:hover {
    opacity: 0.8;
  }

  @media (min-width: $xl) {
    width: 160px;
    height: 36px;
    border-radius: 4px;
    padding: 6px 16px;
    justify-content: space-between;
    margin-right: 0;

    svg {
      margin-right: 8px;
    }
  }
}

.nav__options-list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  &--opened {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 5;
    background-color: $back-grey;

    font-size: 16px;

    & .nav__options-item {
      width: 100%;
      padding: 0 20px;

      & .nav__options-link {
        display: block;
        width: 100%;
        padding: 10px 0;
        border-bottom: 1px solid $ghost;
      }
    }
  }

  @media (min-width: $xl) {
    display: flex;
  }
}

.nav__options-item--catalog {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    display: block;
    top: calc(50% - 5px);
    right: 30px;
    width: 7px;
    height: 7px;
    border-right: 1px solid $ghost;
    border-bottom: 1px solid $ghost;
    transform: rotate(-45deg);
  }

  @media (min-width: $xl) {
    display: none;
  }
}

.nav__options-item--contacts {
  display: flex;
  flex-wrap: wrap;

  & a {
    color: black;
    padding: 10px;
  }

  ul {
    padding: 10px;
  }

  @media (min-width: $xl) {
    display: none;
  }
}

.nav__options-item--search {
  display: block;

  & .nav__search {
    display: block;
  }

  @media (min-width: $md) {
    display: none;
  }
}

.nav__options-link {
  font-size: 13px;
  line-height: 18px;
  color: black;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    color: $button-red;
  }
}

.nav__menu-button {
  position: relative;
  display: block;
  outline: none;
  width: 40px;
  height: 35px;
  cursor: pointer;
  margin-left: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  order: 1;

  &::after {
    position: absolute;
    display: block;
    content: '';
    width: 40px;
    height: 1px;
    top: 10px;
    left: 0;
    border: 1px solid $text-grey;
    box-shadow: 0 8px 0 0 $text-grey, 0 16px 0 0 $text-grey;
  }

  &--opened {
    &::after {
      top: 18px;
      left: 5px;
      width: 24px;
      height: 2px;
      transform: rotate(-45deg);
      box-shadow: none;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 18px;
      left: 5px;
      width: 24px;
      height: 2px;
      border: 1px solid $text-grey;
      transform: rotate(45deg);
    }
  }

  @media (min-width: $xl) {
    display: none;
  }
}
