/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

// Размеры вьюпорта
$sm: 320px;
$md: 768px;
$xl: 1228px;

// Цвета
$black: #000;
$white: #fff;
$button-red: #D2001C;
$text-grey: #4D4D4D;
$ghost: #BDBDBD;
$text-black: #222222;
$back-grey: #F9F9F9;
$gold: #FED600;
$grey: #ccc;

// Шрифты
$main-font: "Open Sans", "Arial", sans-serif;
$sf-pro-text: "SF Pro Text", "Arial", sans-serif;
$sf-pro-display: "SF Pro Display", "Arial", sans-serif;
