<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="description" content="HTML5 webpack boilerplate" />
    <title>HTML5 webpack boilerplate</title>
    <link rel="stylesheet" href="/vendors/normalize-css/normalize.min.css" />
    <link rel="preload" href="fonts/opensans-regular.woff2" as="font" type="font/woff2">
    <link rel="preload" href="fonts/opensans-bold.woff2" as="font" type="font/woff2">
    <link rel="preload" href="fonts/opensans-italic.woff2" as="font" type="font/woff2">
    <link rel="preload" href="fonts/opensans-semibold.woff2" as="font" type="font/woff2">
    <link rel="preload" href="fonts/sf-pro-display-regular.woff2" as="font" type="font/woff2">
    <link rel="preload" href="fonts/sf-pro-text-medium.woff" as="font" type="font/woff2">
  </head>
  <body>
    <!--header.html-->
    <%= _.template(require('../includes/common/header.html').default)({}) %>
    <main>
      <!--index/about.html-->
      <%= _.template(require('../includes/common/about.html').default)({}) %>
      <!--index/videos.html-->
      <%= _.template(require('../includes/common/videos.html').default)({}) %>
    </main>
    <!--footer.html-->
    <%= _.template(require('../includes/common/footer.html').default)({}) %>
  </body>
</html>
